<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="uAL.Properties.Settings.LibSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="uAL.Properties.LibSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <uAL.Properties.Settings.LibSettings>
      <setting name="AddedTorrentDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="DownloadsDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ImportDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="labelsToDupeCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="labelsToExclude" serializeAs="String">
        <value />
      </setting>
      <setting name="labelsToInclude" serializeAs="String">
        <value />
      </setting>
      <setting name="labelsWordsToStrip" serializeAs="String">
        <value />
      </setting>
      <setting name="labelsWordsToStripExtended" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="torrentFileNameWordsToStrip" serializeAs="String">
        <value />
      </setting>
      <setting name="uTorrentImportDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckAlreadyExists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckDupes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConnectOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableExtendedLabelsByDefault" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HaveQueuedAllMetalinks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HaveQueuedAllTorrents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>65255</value>
      </setting>
      <setting name="StopOnDone" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>admin</value>
      </setting>
    </uAL.Properties.Settings.LibSettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.20.0" newVersion="4.2.20.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>