<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="logs\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myappname" value="wUAL"/>
  <variable name="mytime" value="${replace:searchFor=^(.+)\\.(.+):replaceWith=$1:regex=true:inner=${time}}"/>
  <variable name="mygroup" value="${event-properties:item=Group}" />
  <variable name="mysubject" value="${event-properties:item=Subject}" />
  <variable name="mysubdir" value="${when:when='${mygroup}' != '':inner=${mygroup}/}${when:when='${mysubject}' != '':inner=${mysubject}/}"/>
  <variable name="mysubdirauto" value="${mylogger:delimiter=/}/"/>
  <variable name="mysubdirautogroups" value="${mylogger:delimiter=/:label=GROUPS}"/>
  <variable name="mysubdirautosections" value="${mylogger:delimiter=/:label=SECTIONS:reverseGroup=true}"/>
  <variable name="mysubdirautocombined" value="${mylogger:delimiter=/:count=2}"/>
  <variable name="myfilename" value="${basedir}/logs/${mysubdir}${myappname}-${mylogger}.log"/>
  <variable name="myfilenameauto" value="${basedir}/logs/${mysubdirauto}${myappname}-${logger:shortName=true}.log"/>
  <variable name="myfilenameautogroups" value="${basedir}/logs/${mysubdirautogroups}.log"/>
  <variable name="myfilenameautosections" value="${basedir}/logs/${mysubdirautosections}.log"/>
  <variable name="myfilenameautocombined" value="${basedir}/logs/${mysubdirautocombined}/${myappname}-${mylogger:count=-1}.log"/>
  <variable name="mylevel" value="${uppercase:${pad:padding=5:inner=${level}}}"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="uAL" />
  </extensions>
    
    <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Writing events to the a file with the date in the filename. 
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

      <target xsi:type="File" name="f" fileName="${myfilename}"
            layout="${mytime} ${mylevel} ${paddedmessage}" />

      <target xsi:type="File" name="simple" fileName="${myfilenameautogroups}"
            deleteOldFileOnStartup="true"
            layout="${mytime} ${paddedmessage}" />
    
      <target xsi:type="File" name="plain" fileName="${myfilenameautogroups}"
            deleteOldFileOnStartup="true"
            layout="${paddedmessage}" />

      <target xsi:type="File" name="simple_reversed" fileName="${myfilenameautosections}"
            deleteOldFileOnStartup="true"
            layout="${mytime} ${paddedmessage}" />
    
      <target xsi:type="File" name="plain_reversed" fileName="${myfilenameautosections}"
            deleteOldFileOnStartup="true"
            layout="${paddedmessage}" />

      <target xsi:type="File" name="simple_grouped" fileName="${myfilenameautocombined}"
            deleteOldFileOnStartup="true"
            layout="${mytime} ${paddedmessage}" />
    
      <target xsi:type="File" name="plain_grouped" fileName="${myfilenameautocombined}"
            deleteOldFileOnStartup="true"
            layout="${paddedmessage}" />

    

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->

    <!--<logger name="Plain.*" minlevel="Trace" writeTo="plain_reversed" final="true" />
    <logger name="Simple.*" minlevel="Trace" writeTo="simple_reversed" final="true" />-->

    <logger name="Plain.*" minlevel="Trace" writeTo="plain" final="true" />
    <logger name="Simple.*" minlevel="Trace" writeTo="simple" final="true" />
    
  	<!--<logger name="Plain.*" minlevel="Trace" writeTo="plain,plain_reversed,plain_grouped" final="true" />
    <logger name="Simple.*" minlevel="Trace" writeTo="simple,simple_reversed,simple_grouped" final="true" />-->
  	
    <logger name="*" minlevel="Trace" writeTo="f" />

  </rules>
</nlog>